name: Test Workflow

on:
  push:
    branches:
      - master

jobs:
  test_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run census data extraction
        run: python Excel/main.py

      - name: Generate Excel file
        run: python Excel/excel_append.py

      - name: Upload Census Excel
        uses: actions/upload-artifact@v4
        with:
          name: censo_tortugas
          path: Excel/censo_tortugas.xlsx
